body {
  background-image: url(../img/bg-test.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: white;
}

.navbar {
  padding-top: 2em;
  width: 100%;
  height: 3em;
}

.navbar-brand {
  color: white;
}

.card {
  width: 80%;
}

.card-header {
  background-color: #03A9F4;
  color: white;
}

.card-body {
  padding: 0;
}

.card-spacer {
  margin-top: 250px;
  margin-bottom: 150px;
}

#calculator-body {
  padding: 1.25em;
}

#ddc {
  margin-top: 185px;
}

#intake-body {
  padding: 1.25em;
}

#intake-res {
  padding: 1.25em;
}
